{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <section class="page-header">
        <div>
            <p class="eyebrow">Clients</p>
            <h1>{{ pageTitle }}</h1>
        </div>
    </section>

    <section class="panel form-panel">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.company) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.address) }}
            <button class="button" type="submit">{{ submitLabel }}</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
